@import url('/style.css');
@import url('/styles/style-nav.css');

.container-pequenos {
  background-color: var(--cor-secundaria);
  color: #fff;
  padding: 2em;
  border-radius: 12px;
  max-width: 700px;
  margin: 2em auto;
}

.form-pequenos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo-pequenos {
  text-align: center;
  font-size: 2em;
  margin-bottom: 0.5em;
}

.subtitulo-pequenos {
  text-align: center;
  margin-top: 0;
  margin-bottom: 1em;
  color: var(--cor-texto-secundario);
}

.label-pequenos {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.input-pequenos {
  text-align: center;
  width: 65%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  margin-bottom: 1em;
}

select.input-pequenos {
  min-width: 475px;
}

.btn-simular-pequenos {
  margin-top: 1em;
  width: 30%;
  padding: 10px;
  border-radius: 8px;
  background-color: #00c853;
  color: #fff;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.btn-simular-pequenos:hover {
  background-color: #00b140;
}
  
.input-pequenos:focus {
    border-color: var(--cor-borda-hover);
    outline: none;
}  

.resultado-pequenos {
  text-align: center;
}

.resultado-texto-pequenos {
  margin-top: 1.5rem;
  font-weight: 600;
}
  
#grafico-pequenos {
    max-width: 100%;
    margin-top: 2rem;
}

#graficoContainer-pequenos {
  max-width: 500px;
    margin: 30px auto 0;
    background: #f9f9f9;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}