@import url("/styles/style-index.css");

:root {
  --cor-fundo: #111;
  --cor-texto: #fff;
  --cor-secundaria: #1a1a1a;
  --cor-borda: #444;
  --cor-borda-hover: #666;
  --cor-texto-secundario: #ccc;
  --cor-card: #000;
  --fonte-principal: "Arial", sans-serif;
}

body {
  margin: 0;
  background-color: var(--cor-fundo);
  font-family: var(--fonte-principal);
  color: var(--cor-texto);
}
