@import url("/style.css");
@import url("/styles/style-nav.css");

.container-caminho {
  background-color: var(--cor-secundaria);
  color: #fff;
  padding: 2em;
  border-radius: 12px;
  max-width: 700px;
  margin: 2em auto;
}

.form-caminho {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo-caminho {
  text-align: center;
  font-size: 2em;
  margin-bottom: 0.5em;
}

.subtitulo-caminho {
  text-align: center;
  margin-top: 0;
  margin-bottom: 1em;
  color: var(--cor-texto-secundario);
}

.label-caminho {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.input-caminho {
  text-align: center;
  width: 65%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  margin-bottom: 1em;
}

.btn-simular-caminho {
  margin-top: 1em;
  width: 30%;
  padding: 10px;
  border-radius: 8px;
  background-color: #00c853;
  color: #fff;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.btn-simular-caminho:hover {
  background-color: #00b140;
}

.div-btn-simular-caminho {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

input:disabled,
select:disabled,
textarea:disabled {
  color: #fff !important;
  background-color: #494949 !important;
}

.resultado-caminho-2 {
  margin-top: 1rem;
}

.resultado-caminho p {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.resultado-sem-rendimento span {
  font-weight: bold;
  color: var(--cor-texto-secundario);
}

.resultado-com-rendimento span {
  font-weight: bold;
  color: #00c853;
}

@media (max-width: 942px) {
  .container-caminho {
    margin: 40px 80px;
  }
}

@media (max-width: 768px) {
  .container-caminho {
    margin: 40px 80px;
  }
}

@media (max-width: 680px) {
  .container-caminho {
    margin: 40px 40px;
  }
}

@media (max-width: 600px) {
  .container-caminho {
    margin: 40px 35px;
  }

  .btn-simular-caminho {
    width: 40%;
  }
}

@media (max-width: 514px) {
  .container-caminho {
    margin: 30px 20px;
  }
}

@media (max-width: 484px) {
  .container-caminho {
    margin: 18px 13px;
  }
}

@media (max-width: 400px) {
  .container-caminho {
    margin: 15px 10px;
  }

  .btn-simular-caminho {
    width: 46%;
  }
}

@media (max-width: 350px) {
  .container-caminho {
    margin: 12px 8px;
  }

  .btn-simular-caminho {
    width: 65%;
  }
}
