@import url('/style.css');
@import url('/styles/style-nav.css');

.container-cafezinho {
  background-color: var(--cor-secundaria);
  color: #fff;
  padding: 2em;
  padding-bottom: 0.5em;
  border-radius: 12px;
  max-width: 700px;
  margin: 2em auto;
}

.form-cafezinho {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo-cafezinho {
  text-align: center;
  font-size: 2em;
  margin-bottom: 0.5em;
}

.subtitulo-cafezinho {
  text-align: center;
  margin-top: 0;
  margin-bottom: 1em;
  color: var(--cor-texto-secundario);
}

.item-cafezinho {
  display: flex;
}

.item-cafezinho select {
  width: 100%;
  padding: 10px 20px;
}

.label-cafezinho {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
  margin-bottom: 0.5em;
  margin-top: 1.5rem;
}

.input-cafezinho {
  text-align: center;
  width: 65%;
  padding: 10px;
  border-radius: 8px;
  border: none;
}

#gastos-lista {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.gasto-item {
  max-width: 475px;
  width: 100%;
  text-align: center;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.frequencia-gasto {
  color: #555;
  width: 20%;
  height: 35px;
  border-radius: 8px;
  background-color: white;
  text-align: left;
  padding: 10px 20px;
}

.nome-gasto, .valor-gasto {
  flex: 1;
}

.btn-remover-gasto {
  background-color: #e53935;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px 12px;
  font-weight: bold;
  cursor: pointer;
  font-size: 1rem;
}

.btn-remover-gasto:hover {
  background-color: #c62828;
}

.input-cafezinho[disabled] {
  background-color: #222;
  color: #888;
}

select.input-cafezinho[disabled] {
  background-color: #2e2e2e;
  color: #888;
}

.btn-remover-gasto:disabled {
  background-color: #2e2e2e;
  color: #888;
  cursor: default;
}

#btn-adicionar-gasto {
  width: 170px;
  margin-top: 1em;
  background-color: #444;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 6px 2px;
  cursor: pointer;
}

#btn-adicionar-gasto:hover {
  background-color: #888;
}

.btn-simular-cafezinho {
  margin-top: 1.5rem;
  width: 30%;
  padding: 10px;
  border-radius: 8px;
  background-color: #00c853;
  color: #fff;
  font-weight: bold;
   border: none;
  cursor: pointer;
  transition: 0.3s;
}

.btn-simular-cafezinho:hover {
  background-color: #00b140;
}

.div-btn-simular-cafezinho {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.div-btn-simular-cafezinho button:hover {
  background-color: #218838;
}

input:disabled, textarea:disabled {
  color: #fff !important;
  background-color: #494949 !important;
}

#resultado-cafezinho {
  margin-top: 1.5rem;
  text-align: center;
  font-size: 1.1rem;
}

#graficoContainer-cafezinho {
  margin-top: 2rem;
  text-align: center;
}

#grafico-cafezinho {
  max-width: 400px;
  max-height: 400px;
  margin: auto;
}

@media (max-width: 942px) {
  .container-cafezinho {
    margin: 40px 80px;
  }
}

@media (max-width: 768px) {
  .container-cafezinho {
      margin: 40px 80px;
  }
}

@media (max-width: 680px) {
  .container-cafezinho {
    margin: 40px 40px;
  }
}

@media (max-width: 600px) {
  .container-cafezinho {
    margin: 40px 35px;
  }

  .btn-simular-cafezinho {
    width: 40%;
  }
}

@media (max-width: 514px) {
  .container-cafezinho {
    margin: 30px 20px;
  }
}

@media (max-width: 484px) {
  .container-cafezinho {
    margin: 18px 13px;
  }
}

@media (max-width: 400px) {
  .container-cafezinho {
    margin: 15px 10px;
  }

  .btn-simular-cafezinho {
      width: 46%;
    }
}

@media (max-width: 350px) {
  .container-cafezinho {
    margin: 12px 8px;
  }

  .btn-simular-cafezinho {
      width: 65%;
    }
}