.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-arrow img {
  width: 25px;
  height: 25px;
  transition: transform 0.3s;
}

.nav-arrow {
  font-size: 2rem;
  background-color: #444;
  color: white;
  border-radius: 50%;
  padding: 3px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  transition: background 0.3s;
}

.nav-arrow:hover {
  background-color: #666;
  transform: scale(1.05);
}

.home-icon {
  font-size: 1.8rem;
  text-decoration: none;
  padding: 5px;
  border-radius: 50%;
  background-color: #444;
  color: white;
  transition: background 0.3s;
  display: flex;
  justify-content: center;
  position: relative;
}

.home-icon img {
  width: 25px;
  height: auto;
  max-height: 25px;
}

.home-icon:hover {
  background-color: #666;
  transform: scale(1.05);
}
