.container-calculadoras {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    text-align: center;
    background-color: var(--cor-secundaria);
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
  }
  
  .titulo-calculadoras {
    margin-bottom: 10px;
    font-size: 2rem;
  }
  
  .subtitulo-calculadoras {
    color: var(--cor-texto-secundario);
    margin-bottom: 30px;
  }
  
  .botoes-calculadoras{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    justify-items: center;
    gap: 20px;
    margin: 0 30px;
  }
  
  .card-calculadoras {
    position: relative;
    background-color: var(--cor-texto);
    color: var(--cor-card);
    width: 240px;
    height: 60px;
    border-radius: 12px;
    transition: 0.3s;
    cursor: pointer;
    text-decoration: none;
  }
  
  .card-calculadoras:hover {
    background-color: #f0f0f0;
  }
  
  .card-calculadoras a {
    text-decoration: none;
    font-weight: bold;
    color: #000;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
  }
  
  .tooltip-calculadoras {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    background: #222;
    color: var(--cor-texto);
    padding: 8px 12px;
    border-radius: 6px;
    font-size: 0.9em;
    width: 200px;
    z-index: 10;
    transition: opacity 0.4s ease, visibility 0.4s ease;
    transition-delay: 0.2s;
  }
  
  .card-calculadoras:hover .tooltip-calculadoras {
    display: block;
    opacity: 1;
    visibility: visible;
    transition-delay: 0.2s;
  }

  .autor-texto-calculadoras {
    margin-bottom: 0;
    font-size: 14px;
    color: #ccc;
  }

  .autor-github {
    color: #ccc;
    text-decoration: none;
    font-weight: bold;
  }

  .autor-github::after {
    color: #ccc;
    text-decoration: none;
  }

@media (max-width: 942px) {
  .container-calculadoras {
    margin: 40px 60px;
  }

  .botoes-calculadoras {
    grid-template-columns: repeat(2, minmax(240px, 1fr));
    justify-items: center;
    margin: 0 20px;
  }
}

@media (max-width: 768px) {
  .container-calculadoras {
    margin: 40px 60px;
  }

  .botoes-calculadoras {
    grid-template-columns: repeat(1, minmax(240px, 1fr));
    justify-items: center;
  }
}

@media (max-width: 680px) {
  .container-calculadoras {
    margin: 40px 40px;
  }
}

@media (max-width: 600px) {
  .container-calculadoras {
    margin: 40px 35px;
  }
}

@media (max-width: 514px) {
  .container-calculadoras {
    margin: 30px 20px;
  }
}

@media (max-width: 484px) {
  .container-calculadoras {
    margin: 18px 13px;
  }

  .titulo-calculadoras {
    font-size: 24px;
  }

  .subtitulo-calculadoras {
    font-size: 18px;
    margin: 18px 30px 30px 30px;
  }

  .card-calculadoras {
    width: 230px;
    height: 55px;
  }

  .card-calculadoras a {
    font-size: 15px;
  }
}

@media (max-width: 400px) {
  .container-calculadoras {
    margin: 15px 10px;
  }

  .titulo-calculadoras {
    font-size: 22px;
  }

  .subtitulo-calculadoras {
    font-size: 16px;
    margin: 18px 30px 30px 30px;
  }

  .card-calculadoras {
    width: 230px;
    height: 55px;
  }

  .card-calculadoras a {
    font-size: 14px;
  }
}

@media (max-width: 350px) {
  .container-calculadoras {
    margin: 12px 8px;
  }

  .botoes-calculadoras {
    margin: 0;
  }

  .titulo-calculadoras {
    font-size: 20px;
  }

  .subtitulo-calculadoras {
    font-size: 14px;
  }

  .card-calculadoras {
    width: 220px;
    height: 50px;
  }

  .card-calculadoras a {
    font-size: 13px;
  }
}